.m-user-table {
    &__tab {
        display: flex;
        position: relative;
        height: 35px;
        width: 100%;

        @include bp-600up {
            height: 42px;
        }

        & > a {
            width: 33.33%;
            height: 35px;
            line-height: 35px;
            background-color: transparent;
            font-size: 0.7rem;
            text-align: center;
            color: $darkGray;
            font-weight: 550;
            cursor: pointer;

            @include bp-600up {
                font-size: 0.8rem;
                height: 42px;
                line-height: 42px;
            }

            &:hover {
                background-color: $lighterBrown;
            }

            &.selected {
                background-color: $lightBrown;
                color: $font-color-brown;

                &:hover {
                    background-color: $lightBrown;
                }
            }
        }
    }

    &__container {
        background-color: $lightBrown;
        padding: $mp-xs;
    }
}
