.m-store-edit-table {
    &__tab {
        display: flex;
        position: relative;
        height: 35px;
        width: 100%;

        @include bp-600up {
            height: 42px;
        }

        & > input {
            font-size: 0.7rem;
            background-color: transparent;
            width: calc(100% / 3);
            text-align: center;
            color: $darkGray;
            font-weight: 550;
            cursor: pointer;

            &:hover {
                background-color: $lighterBrown;
            }

            &.selected {
                background-color: $lightBrown;
                color: $font-color-brown;

                &:hover {
                    background-color: $lightBrown;
                }
            }

            @include bp-600up {
                font-size: 0.8rem;
            }
        }
    }

    &__container {
        background-color: $lightBrown;
        padding: $mp-xxs;

        @include bp-600up {
            padding: $mp-xxs $mp-sm;
        }
    }
}
