.m-store-pickup {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 5px;

        &__item {
            cursor: pointer;

            & > img {
                height: 100px;
                width: 100%;
                border-radius: $base-radius;
                object-fit: cover;

                @include bp-600up {
                    height: 130px;
                }
            }

            & > p {
                color: $black;
                font-size: 1rem;
                font-weight: 550;
            }

            &:hover {
                color: $brown;
            }
        }
    }
}

//トップページの場合
.p-top {
    .m-store-pickup {
        @include bp-960up {
            margin-top: $mp-xs;
        }

        &__list {
            @include bp-600up {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}

//レビューページの場合
.p-review {
    .m-store-pickup {
        &__title {
            font-size: 1.1rem;
        }

        &__list {
            @include bp-600up {
                grid-template-columns: 1fr;
            }
        }
    }
}

.p-search {
    .m-store-pickup {
        display: none;

        @include bp-600up {
            display: block;

            &__list {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}
