.m-user-table {
    &__tab {
        display: flex;
        position: relative;
        border: 2px solid $lightBrown;
        background-color: $lightBrown;
        height: 35px;
        width: 100%;

        @include bp-600up {
            height: 42px;
        }

        & > input {
            background-color: $white;
            font-size: 0.7rem;
            height: 100%;
            width: 25%;
            text-align: center;
            color: $brown;
            font-weight: 550;
            cursor: pointer;

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                border-left: solid 2px $lightBrown;
            }

            &.selected {
                background-color: $lightBrown;
                color: $font-color-brown;
            }

            @include bp-600up {
                font-size: 0.8rem;
            }
        }
    }

    &__container {
        background-color: $lightBrown;
        padding: $mp-xs;
    }
}
