.l-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(164, 102, 39, 1) 8%,
        rgba(177, 111, 41, 1) 30%,
        rgba(196, 125, 44, 1) 100%
    );
    height: $header-height;
    z-index: 900;

    &__content {
        display: none;

        @include bp-960up {
            display: flex;
            align-items: center;
            margin-right: 3rem;
            letter-spacing: 1px;

            &__nav {
                &--loggedout {
                    ul {
                        display: flex;

                        li {
                            height: 40px;
                            width: 100px;
                            margin-left: 1rem;
                            line-height: 36px;
                            text-align: center;
                            font-size: 0.8rem;
                            color: $white;
                            border: 2px solid $white;
                            border-radius: 5px;

                            &:hover {
                                background-color: $darkBrown;
                            }
                        }
                    }
                }
            }
        }
    }

    &__mobile {
        display: flex;

        @include bp-960up {
            display: none;
        }
    }
}
