.l-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $brown;
    height: $header-height;

    &__brand-logo {
        height: 100%;
        margin-left: 2rem;

        & > a {
            display: inline-block;
            width: 100%;
            height: 100%;
            line-height: $header-height;
            color: $white;
            font-size: 1rem;
            font-weight: bold;
        }
    }

    &__content {
        display: none;

        @include bp-960up {
            display: flex;
            align-items: center;
            margin-right: 3rem;
            letter-spacing: 1px;

            &__nav {
                ul {
                    display: flex;

                    li {
                        height: 44px;
                        width: 100px;
                        margin-left: 1rem;
                        line-height: 40px;
                        text-align: center;
                        font-size: 0.8rem;
                        color: $white;
                        border: 2px solid $white;
                        border-radius: 5px;

                        &:hover {
                            background-color: $darkBrown;
                        }
                    }
                }
            }
        }
    }
}
