.l-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgb(175, 104, 37) 8%,
        rgba(177, 111, 41, 1) 30%,
        rgba(196, 125, 44, 1) 100%
    );
    height: $header-height;
    z-index: 900;

    &__container {
        &--pc {
            display: none;

            @include bp-960up {
                display: block;
                width: 95%;
                max-width: 1920px;
                margin: 0 auto;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                &__content {
                    display: flex;
                    align-items: center;
                    &__nav {
                        &--loggedin {
                            display: flex;
                            align-items: center;
                            // & > .a-btn-mypage {
                            //     vertical-align: middle;
                            // }
                        }
                        &--loggedout {
                            ul {
                                position: absolute;
                                top: 0;
                                right: 0;
                                margin: 0;
                                display: flex;

                                li {
                                    display: block;
                                    font-size: 0.7rem;

                                    &:nth-child(1) {
                                        padding-right: 10px;
                                    }

                                    & > a {
                                        color: $white;
                                        &:hover {
                                            text-decoration: underline 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &--mobile {
            display: flex;
            justify-content: space-between;
            width: 95%;
            margin: 0 auto;

            @include bp-960up {
                display: none;
            }

            &__nav {
                display: flex;
            }
        }
    }
}
