.m-store-edit-spirit {
    background-color: $white;
    padding: $mp-xxs $mp-xs;

    @include bp-600up {
        padding: $mp-xs $mp-sm;
    }

    &__container {
        display: grid;
        row-gap: $mp-xs;

        &__section {
            &__title {
                display: flex;
                justify-content: space-between;

                & > h2 {
                    font-size: 1.3rem;
                }
            }

            &__content {
                display: grid;

                @include bp-600up {
                    grid-template-columns: 25% 1fr;
                    column-gap: $mp-xxs;
                }

                & > p {
                    color: $font-color-brown;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
