.m-storeEdit-menuList {
    &__item {
        background-color: $white;
        margin-bottom: $mp-xxs;
        padding: $mp-xxs $mp-xs;
        box-shadow: 1px 1.5px 4px 0px #c47d2c82;

        @include bp-600up {
            padding: $mp-xxs $mp-sm $mp-xs $mp-sm;
        }

        &__btn {
            display: flex;
            justify-content: flex-end;
        }

        &__content {
            display: grid;

            @include bp-600up {
                grid-template-columns: 120px 1fr;
                column-gap: $mp-xs;
            }

            & > img {
                object-fit: cover;
                object-position: center;
                width: 120px;
                height: 120px;
            }

            &__text {
                & > a {
                    display: inline-block;
                    margin-top: 5px;
                    @include btn-square;
                }

                & > p {
                    margin-top: 5px;
                    color: $font-color-brown;
                    font-size: 0.8rem;
                }

                & > span {
                    margin-right: 0.5rem;
                    color: $font-color-brown;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
