.m-storeEdit-menuList {
    &__item {
        background-color: $white;
        margin-bottom: $mp-xxs;
        padding: $mp-xxs $mp-xs;
        box-shadow: 1px 1.5px 4px 0px #c47d2c82;

        @include bp-600up {
            padding: $mp-xxs $mp-sm;
        }

        &__btn {
            display: flex;
            justify-content: flex-end;
        }

        &__content {
            display: grid;

            @include bp-600up {
                grid-template-columns: 150px 1fr;
                column-gap: $mp-xxs;
            }

            & > img {
                object-fit: cover;
            }

            &__text {
                & > a {
                    @include btn-square;
                }

                & > p {
                    color: $font-color-brown;
                    font-size: 0.8rem;
                }

                & > span {
                    margin-right: 0.5rem;
                    color: $font-color-brown;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
