.m-store-subInfo {
    max-width: 12rem;

    @include bp-960up {
        height: fit-content;
        border: 1px solid $brown;
        border-radius: $base-radius;
        margin-left: $mp-xxs;
        padding: $mp-xxs;
        padding-bottom: $mp-sm;
    }

    &__container {
        &__item {
            margin-bottom: 0.5rem;
            p {
                color: $font-color-brown;
                font-size: 0.8rem;
            }

            &__btns {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 30px;

                a {
                    margin-right: 0.5rem;
                }

                @include bp-960up {
                    flex-direction: column;
                    a {
                        margin-right: auto;
                    }
                }
            }
        }
    }
}

//モバイル用表示設定
.m-store-basicInfo {
    & > .m-store-subInfo {
        display: block;

        @include bp-960up {
            display: none;
        }
    }
}
