.m-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;

    @include bp-480up {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include bp-600up {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__card {
        background-color: $white;
        border-radius: $sm-radius;
        padding: $mp-xxs;
        color: $font-color-brown;

        & > img {
            width: 100%;
            height: 100px;
            object-fit: cover;
            object-position: center;
        }

        & > h4 {
            margin-top: 5px;
            font-size: 0.9rem;
            font-weight: 450;
        }

        & > p {
            margin-top: 3px;
            font-size: 0.7rem;
        }

        &__labels {
            display: flex;
            flex-wrap: wrap;
            font-size: 0.7rem;
            line-height: 1.2rem;

            &__kind {
                background-color: $brown;
                border-radius: $sm-radius;
                color: $white;
                margin-right: 5px;
                padding: 0 3px;
            }
        }
    }
}
