.m-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 8px;

    &__card {
        background-color: $white;
        border-radius: $sm-radius;
        padding: $mp-xxs;
        color: $font-color-brown;

        h4 {
            margin-top: 5px;
            font-size: 0.9rem;
            font-weight: 450;
        }

        p {
            margin-top: 3px;
            font-size: 0.7rem;
        }

        & span {
            display: flex;
            align-items: center;
        }

        &__kind {
            @include btn-square;
            margin-right: 5px;
        }
    }
}
