.m-store-contents {
    width: 100%;
    margin-top: $mp-xxs;

    &__tab {
        display: flex;
        position: relative;
        border: 1px solid $lightBrown;
        border-bottom: 0;
        height: 35px;
        width: 100%;
        box-sizing: border-box;

        @include bp-600up {
            height: 42px;
        }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     right: 0;
        //     bottom: 0;
        //     width: 100%;
        //     height: 5px;
        //     background-color: $lightBrown;
        // }

        & > input {
            font-size: 0.7rem;
            width: calc(100% / 3);
            text-align: center;
            color: $brown;
            cursor: pointer;

            &:nth-child(2) {
                border-left: solid 0.3px $lightBrown;
                border-right: solid 0.3px $lightBrown;
                box-sizing: border-box;
            }

            &.selected {
                background-color: $lightBrown;
                color: $brown;
                font-weight: 550;
            }

            @include bp-600up {
                font-size: 0.8rem;
            }
        }
    }

    &__container {
        background-color: $lightBrown;
        padding: $mp-xxs;
        margin-bottom: $mp-md;

        &__table {
            min-height: 6rem;
        }
    }
}
