.m-store-contents {
    width: 100%;
    margin-top: $mp-xs;

    &__tab {
        display: flex;
        position: relative;
        height: 35px;
        width: 100%;

        @include bp-600up {
            height: 42px;
        }

        & > input {
            position: relative;
            background-color: transparent;
            font-size: 0.7rem;
            height: 100%;
            width: 33.33%;
            text-align: center;
            color: $darkGray;
            font-weight: 550;
            box-sizing: border-box;
            cursor: pointer;

            &:hover {
                background-color: $lighterBrown;
            }

            &.selected {
                background-color: $lightBrown;
                color: $font-color-brown;

                &:hover {
                    background-color: $lightBrown;
                }
            }

            @include bp-600up {
                font-size: 0.8rem;
            }
        }
    }

    &__container {
        background-color: $lightBrown;
        padding: $mp-xxs;

        &__table {
            min-height: 6rem;
        }
    }
}
