.m-review {
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: $mp-xxs;

        &__former {
            display: flex;

            & > p {
                font-size: 0.9rem;

                & > span {
                    font-size: 1rem;
                    font-weight: 550;
                    margin: 0 2px;
                }
            }

            &__order {
                margin-left: $mp-xxs;

                & > select {
                    background-color: transparent;
                    border-color: $lightGray;
                }
            }
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 40px 1fr;
        background-color: $white;
        padding: $mp-xxs;
        margin-bottom: 5px;
        border-radius: $base-radius;

        & > img {
            height: 30px;
            width: 30px;
            object-fit: cover;
            object-position: center;
        }

        &__content {
            & > p {
                font-size: 0.8rem;
            }

            & > span {
                font-size: 0.6rem;
                margin-bottom: 7px;
            }
        }

        &__reply {
            grid-column-start: 2;
            grid-column-end: 4;
            padding: 2px 5px 0 5px;
            border-left: 1px solid $lightGray;

            & > p {
                &:nth-child(1) {
                    font-size: 0.75rem;
                    font-weight: 550;
                }

                &:nth-child(2) {
                    font-size: 0.75rem;
                }
            }

            &__btn--edit {
                position: relative;
                height: 1rem;
            }
        }

        &__btn {
            grid-column-start: 1;
            grid-column-end: 4;
            display: flex;
            justify-content: flex-end;
        }
    }
}
