.m-store-sidebar {
    display: none;

    &__container {
        &__item {
            margin-top: 5px;
            padding: $mp-xxs;
            border: 1px solid #dfbc94;
            border-radius: $base-radius;

            &:first-child {
                margin-top: 0;
            }

            & > label {
                color: $font-color-brown;
                font-size: 0.8rem;
                font-weight: 550;

                & > svg {
                    margin-right: 3px;
                }
            }

            & > p {
                color: $font-color-brown;
                font-size: 0.8rem;
            }
        }
    }
    @include bp-960up {
        display: block;
    }
}
