.m-store-basicInfo {
    &__btn {
        display: flex;
        justify-content: flex-end;
    }

    &__name {
        font-size: 2rem;
    }

    &__address {
        margin-top: 5px;
        font-size: 0.8rem;
    }

    &__message {
        font-size: 0.8rem;
        color: $font-color-brown;
        margin-top: $mp-xxs;
    }
}
