.p-register-store {
    margin-top: $header-height;
    padding-top: $mp-sm;
    padding-bottom: $mp-lg;

    &__container {
        position: relative;
        @include content-width;
        border-radius: $sm-radius;
        color: $font-color-brown;

        &__links {
            & > span {
                position: absolute;
                color: $darkGray;
                font-size: 0.8rem;
                padding-top: 5px;

                @include bp-600up {
                    top: -1.5rem;
                    right: 0;
                }

                & > a {
                    padding: 0 3px;
                    margin-top: 2px;
                    font-size: 0.8rem;
                    font-weight: 550;
                    text-align: center;
                    color: $darkGray;
                    text-decoration: underline $darkGray;
                }
            }
        }

        & > p {
            margin-top: 5px;
            color: $font-color-brown;
            font-size: 0.8rem;
        }

        &__form {
            margin-top: $mp-sm;

            @include bp-600up {
                margin-top: $mp-xs;
            }

            &__item {
                &.first {
                    border-top: 0.3px solid $lightGray;
                }
            }

            &__input--submit {
                width: 70%;
                height: 2rem;
                background-color: $darkBrown;
                color: $white;
                font-size: 0.9rem;
                letter-spacing: 2px;
                margin: $mp-sm auto;
                margin-bottom: 0;
                border-radius: $sm-radius;
                cursor: pointer;

                &:hover {
                    background-color: $darkestBrown;
                }

                @include bp-600up {
                    width: 30%;
                    height: 2.3rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
