.p-register-store {
    margin: $margin-top_content 0;

    &__container {
        position: relative;
        @include content-width;
        border-radius: $sm-radius;
        color: $font-color-brown;

        &__links {
            & > span {
                position: absolute;
                color: $textGray;
                font-size: 0.7rem;
                padding-top: 5px;

                @include bp-600up {
                    top: -1.5rem;
                    right: 0;
                }

                & > a {
                    padding: 0 3px;
                    margin-top: 2px;
                    font-size: 0.7rem;
                    font-weight: 550;
                    text-align: center;
                    color: $textGray;
                    text-decoration: underline $textGray;
                }
            }
        }

        & > p {
            margin-top: 5px;
            color: $font-color-brown;
            font-size: 0.8rem;
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            margin-top: $mp-sm;

            &__item {
                display: grid;
                box-sizing: border-box;

                @include bp-600up {
                    grid-template-columns: 10rem 1fr;
                    border-bottom: 0.3px solid $lightGray;

                    &:nth-child(1) {
                        border-top: 0.3px solid $lightGray;
                    }
                }

                & > label {
                    display: block;
                    width: auto;
                    position: relative;
                    font-size: 0.8rem;
                    font-weight: 550;
                    line-height: 1.5rem;

                    @include bp-600up {
                        font-weight: 450;
                        line-height: 4rem;
                        padding: 0 1rem;
                        background-color: rgba(252, 222, 184, 0.3);
                    }
                }

                &__input {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 0 0.8rem 0;

                    @include bp-600up {
                        padding: 0.5rem 1.5rem;
                    }

                    & > input,
                    & > textarea {
                        font-size: 0.9rem;
                        border-radius: $sm-radius;
                        height: 1.8rem;
                        padding: 0 5px;
                        border: 0.5px solid $lightGray;
                        width: 100%;
                    }

                    & > textarea {
                        height: 5rem;
                        padding: 2px 5px;
                    }

                    & > p {
                        color: $color-error;
                        font-size: 0.7rem;
                    }

                    & > span {
                        color: $textGray;
                        font-size: 0.7rem;
                        margin-bottom: 2px;
                    }
                }
            }

            &__input--submit {
                width: 70%;
                height: 2rem;
                background-color: $darkBrown;
                color: $white;
                font-size: 0.9rem;
                letter-spacing: 2px;
                margin: $mp-sm auto;
                margin-bottom: 0;
                border-radius: $sm-radius;
                cursor: pointer;

                &:hover {
                    background-color: $darkestBrown;
                }

                @include bp-600up {
                    width: 30%;
                    height: 2.3rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
