.p-review {
    padding: $mp-md 0;

    &__container {
        @include content-width;
        display: grid;

        @include bp-600up {
            grid-template-columns: 1fr 170px;
            column-gap: 25px;
        }

        @include bp-960up {
            grid-template-columns: 1fr 200px;
        }

        &__info {
            margin-bottom: $mp-xxs;
        }

        &__table {
            margin: $mp-xs 0;
        }

        & > aside {
            border-radius: $sm-radius;
        }
    }
}
