.p-search {
    @include content-width;
    padding-top: 79px;

    &__container {
        margin-top: 15px;
        padding-bottom: $mp-md;

        @include bp-600up {
            display: flex;
        }

        &__content {
            display: flex;
            flex-direction: column;

            @include bp-600up {
                display: block;
                flex-basis: 75%;
            }

            &__tab {
                display: flex;
                position: relative;
                height: 35px;
                width: 100%;
                order: 0;

                @include bp-600up {
                    height: 42px;
                    margin-top: 15px;
                }

                & > input {
                    width: 33.33%;
                    height: 35px;
                    line-height: 35px;
                    background-color: transparent;
                    font-size: 0.7rem;
                    text-align: center;
                    color: $darkGray;
                    font-weight: 550;
                    letter-spacing: 0.5px;
                    cursor: pointer;

                    @include bp-600up {
                        height: 42px;
                        line-height: 42px;
                        font-size: 0.8rem;
                    }

                    &:hover {
                        background-color: $lighterBrown;
                    }

                    &.selected {
                        background-color: $lightBrown;
                        color: $font-color-brown;

                        &:hover {
                            background-color: $lightBrown;
                        }
                    }
                }
            }

            &__list {
                background-color: $lightBrown;
                padding: $mp-xxs;
                order: 1;

                @include bp-600up {
                    padding: $mp-xs;
                }
            }
        }
    }

    &__pageup {
        position: fixed;
        left: 25px;
        bottom: 40px;

        @include bp-600up {
            left: auto;
            right: 5vw;
            bottom: 50px;
        }

        @include bp-960up {
            left: auto;
            right: 11vw;
        }

        & > a {
            position: relative;
            color: $white;
            font-size: 1rem;
            z-index: 100;

            @include bp-960up {
                font-size: 1.5rem;
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 2rem;
                height: 2rem;
                background-color: $lightestGray;
                border-radius: 50%;
                z-index: -100;

                &:hover {
                    background-color: $brown;
                }

                @include bp-960up {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }
    }
}
