.p-search-input-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $lightestBrown;
    margin-top: $header-height;
    padding: 0 $mp-xs $mp-xs $mp-xs;

    &__btn {
        margin-top: $mp-xxs;
    }

    &__back {
        display: inline-block;
        margin-left: 10px;
        color: $font-color-brown;
        font-size: 0.8rem;
        font-weight: bolder;
        border-bottom: $font-color-brown 1px solid;
    }
}
