.p-store-edit {
    padding: $mp-md 0;

    &__container {
        @include content-width;

        & > h2 {
            margin-bottom: $mp-xxs;
            text-decoration: underline 2px;
        }

        &__btn {
            margin-bottom: 3px;
        }
    }
}
