.p-top {
    &__hero {
        padding-top: $header-height;
        background-image: url(../../images/croissant.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 65%;

        &__content {
            @include content-width;
            padding: $mp-sm 0;

            h1 {
                color: $white;

                @include bp-960up {
                    margin-top: 15px;
                }
            }
        }
    }

    &__content {
        @include content-width;
        margin-bottom: $mp-sm;

        h2 {
            color: $font-color-brown;
            margin-top: $mp-xs;

            @include bp-960up {
                margin-top: $mp-sm;
            }
        }
    }

    &__footer {
        display: flex;
        background-color: $lightBrown;
        padding: $mp-xs 0;

        a {
            @include content-width;
            color: $font-color-brown;
            font-size: 0.8rem;

            @include bp-600up {
                text-align: center;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }
}
