.p-user {
    &__container {
        @include content-width;
        margin-top: $mp-md;
        margin-bottom: $mp-md;
        display: flex;
        flex-direction: column-reverse;

        @include bp-960up {
            display: grid;
            grid-template-columns: 1fr 200px;
            column-gap: 10px;
        }
    }
}
