//モバイルメニュー
.c-btn-menu-mobile {
    background-color: transparent;
    margin-right: 2rem;
    height: 50px;
    width: 50px;
    border: none;
    padding: 8px;

    & > a {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        & > span {
            display: inline-block;
            background-color: $white;
            height: 2px;
            width: 100%;
            border-radius: 5px;
        }
    }

    @include bp-960up {
        display: none;
    }
}

//お気に入りボタン
.a-btn-favorite {
    @include btn-rounded($color: $pink, $background-color: $white);
    margin-right: 0.5rem;
    cursor: pointer;

    & > a {
        font-weight: bolder;

        &:nth-child(2) {
            display: none;

            @include bp-600up {
                display: inline;
                margin-left: 2px;
                font-size: 0.9rem;
            }
        }
    }
}

//行ってみたいボタン
.a-btn-interested {
    @include btn-rounded($color: $green, $background-color: $white);
    margin-right: 0.5rem;
    cursor: pointer;

    & > a {
        font-weight: bolder;

        &:nth-child(1) {
            display: inline-block;
        }

        &:nth-child(2) {
            display: none;

            @include bp-600up {
                display: inline;
                margin-left: 2px;
                font-size: 0.9rem;
            }
        }
    }
}

//条件変更ボタン
.a-btn-modificate {
    display: flex;
    justify-content: flex-end;
    margin-top: $mp-xxs;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkBrown;
        width: 130px;
        height: 2rem;
        border-radius: 20px;

        @include bp-480up {
            width: 200px;
        }

        &:hover {
            background-color: $darkestBrown;
        }

        span {
            color: $white;
            letter-spacing: 2px;
            font-size: 0.8rem;
        }
    }

    @include bp-600up {
        display: none;
    }
}

//ホームページへのボタンとSNSへのボタン
.a-btn-modal-sns,
.a-btn-homepage > a {
    display: inline-block;
    width: 8.5rem;
    height: 25px;
    line-height: 25px;
    font-size: 0.7rem;
    background-color: $darkBrown;
    text-align: center;
    vertical-align: center;
    border-radius: 2px;
    font-weight: 450;
    color: $white;
    cursor: pointer;

    &:hover {
        background-color: $darkestBrown;
    }
}

.a-btn-modal-sns {
    border: none;
}

//モバイルヘッダーのメニューアイコン
.a-btn-search_icon,
.a-btn-mypage {
    a {
        display: inline-block;
        color: white;
        width: $header-height;
        height: $header-height;
        line-height: $header-height;
        text-align: center;
        font-size: 1.2rem;
    }

    @include bp-960up {
        display: none;
    }
}

//ユーザーマイページの編集ボタン
.a-btn-edit-user {
    display: inline-block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 0.7rem;
    background-color: $darkBrown;
    text-align: center;
    border-radius: 2px;
    font-weight: 450;
    color: $white;
    cursor: pointer;

    &:hover {
        background-color: $darkestBrown;
    }
}
