// モバイルメニュー
.c-btn-menu-mobile {
    background-color: transparent;
    margin-right: 2rem;
    height: 50px;
    width: 50px;
    border: none;
    padding: 8px;

    & > a {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        & > span {
            display: inline-block;
            background-color: $white;
            height: 2px;
            width: 100%;
            border-radius: 5px;
        }
    }

    @include bp-960up {
        display: none;
    }
}

// お気に入りボタン
.a-btn-favorite {
    margin: 0 2px;

    & > input[type="checkbox"] {
        display: none;

        & + label {
            position: relative;

            @include btn-circle(
                $color: $textGray,
                $border-color: $textGray,
                $background-color: $white,
                $hover-color: $textGray,
                $hover-background-color: $lightPink
            );

            & > svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &::after {
                    content: "お気に入りに登録する";
                    position: absolute;
                    top: 40px;
                    color: $white;
                    display: block;
                    width: 5rem;
                    padding: 2px 2px;
                    font-size: 0.5rem;
                    background-color: $brown;
                    border-radius: 2px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 30px;
                    right: 10px;
                    color: $brown;
                    border: 6px solid transparent;
                    border-top: 6px solid $brown;
                    margin-left: -15px;
                    transform: rotateZ(180deg);
                }
            }
        }

        &:checked + label {
            color: $pink;
            border-color: $pink;

            &:hover {
                color: $pink;
                &::after {
                    content: "お気に入りから外す";
                    background-color: $darkGray;
                }

                &::before {
                    content: "";
                    color: $darkGray;
                    border-top: 6px solid $darkGray;
                }
            }
        }
    }
}

// 行ってみたいボタン
.a-btn-interested {
    margin: 0 2px;
    & > input[type="checkbox"] {
        display: none;

        & + label {
            position: relative;

            @include btn-circle(
                $color: $textGray,
                $border-color: $textGray,
                $background-color: $white,
                $hover-color: $textGray,
                $hover-background-color: $lightGreen
            );

            & > svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover {
                &::after {
                    content: "行ってみたいに登録する";
                    position: absolute;
                    top: 40px;
                    color: $white;
                    display: block;
                    width: 5rem;
                    padding: 2px 2px;
                    font-size: 0.5rem;
                    background-color: $brown;
                    border-radius: 2px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 30px;
                    right: 10px;
                    color: $brown;
                    border: 6px solid transparent;
                    border-top: 6px solid $brown;
                    margin-left: -15px;
                    transform: rotateZ(180deg);
                }
            }
        }

        &:checked + label {
            color: $green;
            border-color: $green;

            &:hover {
                color: $green;

                &::after {
                    content: "行ってみたいから外す";
                    background-color: $darkGray;
                }

                &::before {
                    content: "";
                    color: $darkGray;
                    border-top: 6px solid $darkGray;
                }
            }
        }
    }
}

// 店舗編集ボタン
.a-btn-storeEdit {
    @include btn-rounded($color: $darkGray, $background-color: $lightestBrown);
    margin-right: 0.5rem;
    cursor: pointer;

    &:hover {
        color: $white;
        background-color: $darkGray;
    }

    & > span {
        font-weight: bolder;

        &:nth-child(1) {
            display: inline-block;
        }

        &:nth-child(2) {
            display: none;

            @include bp-960up {
                display: inline;
                margin-left: 2px;
            }
        }
    }
}

// 条件変更ボタン
.a-btn-modificate {
    display: flex;
    justify-content: flex-end;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkBrown;
        width: 150px;
        height: 2rem;
        border-radius: 20px;

        &:hover {
            background-color: $darkestBrown;
        }

        span {
            color: $white;
            letter-spacing: 1px;
            font-size: 0.8rem;
        }
    }

    @include bp-600up {
        display: none;
    }
}

// ホームページへのボタン
.a-btn-homepage {
    margin-right: 5px;

    @include bp-960up {
        margin: $mp-xxs 0 0 0;
    }

    & > a {
        display: inline-block;
        width: 8.5rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 0.7rem;
        background-color: $darkBrown;
        text-align: center;
        border-radius: 25px;
        color: $white;
        cursor: pointer;

        &:hover {
            background-color: $darkestBrown;
        }

        @include bp-960up {
            margin: 0;
            width: 168px;
        }
    }
}
// ログイン・検索・マイページボタン（アイコン）
.a-btn-search_icon,
.a-btn-logIn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: $header-height;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 87%;
        height: 87%;
        color: $white;
        font-size: 1.2rem;

        & > span {
            margin-top: 4px;
            line-height: 0.5rem;
            font-size: 0.5rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    @include bp-960up {
        display: none;
    }
}

// マイページボタン補足スタイル
.a-btn-mypage,
.a-btn-storePage,
.a-btn-storeManage {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: $header-height;
        color: $white;
        font-size: 1.2rem;

        & > span {
            margin-top: 4px;
            line-height: 0.5rem;
            font-size: 0.5rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

// ユーザーマイページの編集ボタン
.a-btn-edit-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    background-color: $lightestBrown;
    border: 1px solid $brown;
    font-weight: 500;
    border-radius: 50%;
    color: $brown;
    cursor: pointer;

    @include bp-600up {
        width: 4rem;
        height: 1.8rem;
        line-height: 1.8rem;
        border-radius: 20px;
        font-size: 0.8rem;
    }

    & > span {
        display: none;
        @include bp-600up {
            display: block;
            text-align: left;
        }
    }

    &:hover {
        background-color: $brown;
        color: $white;
    }
}

// ユーザーマイページのログアウトボタン
.a-btn-logout {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    margin-top: $mp-xxs;

    @include bp-600up {
        justify-content: unset;
        margin-top: $mp-xs;
    }

    & > a {
        font-size: 0.6rem;
        color: $darkGray;
        padding: 0 3px;
        cursor: pointer;
    }
}

// 店舗ページのログアウトボタン(モバイル)
.m-store-edit-table__nav--mobile__content__others {
    .a-btn-logout {
        justify-content: flex-start;
        margin: 0;
        margin-top: 8px;

        & > a {
            color: $black;
            padding: 0;
            font-size: 0.7rem;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

// 店舗ページのログアウトボタン(PC)
.m-store-edit-table__nav--pc__others {
    .a-btn-logout {
        justify-content: unset;
        margin-top: 8px;

        & > a {
            color: $black;
            padding: 0;
            font-size: 0.7rem;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

// レビューモーダルのボタン
.a-btn-modal-review {
    display: inline-block;
    width: 7rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.7rem;
    background-color: $darkBrown;
    text-align: center;
    border: none;
    border-radius: 15px;
    font-weight: 450;
    color: $white;
    cursor: pointer;

    &:hover {
        background-color: $darkestBrown;
    }
}

// 戻るボタン
.a-btn-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: $black;
    font-weight: 500;
    border-radius: 50%;
    cursor: pointer;

    & > svg {
        font-size: 1.2rem;
        margin-top: 2px;
    }

    & > span {
        font-size: 0.5rem;
    }

    &:hover {
        background-color: $lightBrown;
    }
}

// 保存ボタン
.a-btnSave {
    @include bg_GradationBrown;
    position: relative;
    color: $white;
    font-weight: 500;
    border-radius: $sm-radius;
    width: 7rem;
    height: 2rem;
    cursor: pointer;

    &:hover {
        opacity: 0.88;
    }

    &.full {
        width: 100%;
        max-width: 510px;

        @include bp-600up {
            width: 18rem;
        }

        @include bp-960up {
            width: 7rem;
        }
    }
}

// メニュー編集ボタン
.a-btn-editMenu {
    display: flex;
    align-items: center;
    position: relative;
    color: $white;
    font-weight: 500;
    font-size: 0.8rem;
    border: none;
    border-radius: $sm-radius;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    @include bg_GradationBrown;

    @include bp-960up {
        width: 5rem;
    }

    & > span {
        & > svg {
            font-size: 0.7rem;
        }

        &:nth-child(2) {
            display: none;
            margin-left: 5px;

            @include bp-960up {
                display: block;
            }
        }
    }

    &:hover {
        opacity: 0.88;
    }
}

// 削除ボタン
.a-btn-deleteMenu {
    display: flex;
    align-items: center;
    background: linear-gradient(
        180deg,
        rgb(238, 238, 238) 0%,
        rgb(196, 196, 196) 100%
    );
    position: relative;
    color: $black;
    font-weight: 500;
    font-size: 0.8rem;
    border: none;
    border-radius: $sm-radius;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 5px;
    cursor: pointer;

    @include bp-960up {
        width: 5rem;
    }

    & > span {
        & > svg {
            font-size: 0.7rem;
            margin-left: 1.5px;
        }

        &:nth-child(2) {
            display: none;
            margin-left: 5px;

            @include bp-960up {
                display: block;
            }
        }
    }

    &:hover {
        opacity: 0.8;
    }
}

// リセットボタン
.a-btn-reset {
    background: linear-gradient(
        180deg,
        rgb(238, 238, 238) 0%,
        rgb(196, 196, 196) 100%
    );
    width: 7rem;
    height: 2rem;
    color: $black;
    font-weight: 500;
    font-size: 0.95rem;
    border: none;
    border-radius: $sm-radius;
    margin-right: 0.5rem;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

// レビュー返信ボタン
.a-btn-modal-reviw-reply {
    height: 1.5rem;
    padding: 0 7px;
    color: $textGray;
    background-color: $white;
    border: 1px solid $textGray;
    border-radius: 15px;
    font-size: 0.7rem;
    font-weight: 550;
    cursor: pointer;

    & > svg {
        margin-right: 3px;
        font-size: 0.7rem;
    }

    &:hover {
        background-color: $darkGray;
        color: $white;
    }
}

// レビューの返信削除・変更ボタン
.a-btn-delete-reply,
.a-btn-modal-reviw-reply-edit {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 0.6rem;
    text-decoration: underline;
    cursor: pointer;
}

.a-btn-modal-reviw-reply-edit {
    left: -6px;
    bottom: 0px;
}

.a-btn-delete-reply {
    left: 42px;
    bottom: 0px;
}
