//モバイルメニュー
.c-btn-menu-mobile {
    background-color: transparent;
    margin-right: 2rem;
    height: 50px;
    width: 50px;
    border: none;
    padding: 8px;

    & > a {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        & > span {
            display: inline-block;
            background-color: $white;
            height: 2px;
            width: 100%;
            border-radius: 5px;
        }
    }

    @include bp-960up {
        display: none;
    }
}

//お気に入りボタン
.c-btn-favorite {
    @include btn-rounded($color: $pink, $background-color: $white);
    margin-right: 0.5rem;

    & > a {
        &:nth-child(2) {
            display: none;

            @include bp-600up {
                display: inline;
                margin-left: 2px;
                font-size: 0.9rem;
            }
        }
    }
}

//行ってみたいボタン
.c-btn-interested {
    @include btn-rounded($color: $green, $background-color: $white);
    margin-right: 0.5rem;

    & > a {
        font-weight: bolder;

        &:nth-child(1) {
            display: inline-block;
        }

        &:nth-child(2) {
            display: none;

            @include bp-600up {
                display: inline;
                margin-left: 2px;
                font-size: 0.9rem;
            }
        }
    }
}
