.a-schedule {
    &__days {
        display: flex;
        justify-content: space-around;
        width: 168px;

        &__item {
            & > input[type="checkbox"] {
                display: none;

                & + label {
                    position: relative;
                    color: $white;
                    font-size: 0.6rem;
                    z-index: 100;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 1.3rem;
                        height: 1.3rem;
                        z-index: -100;
                        background-color: $lightGray;
                        border-radius: 50%;
                    }
                }

                &:checked + label {
                    &::before {
                        background-color: $darkBrown;
                    }
                }
            }
        }
    }

    &__btn {
        color: $font-color-brown;
        background-color: transparent;
        border: none;
        font-size: 0.7rem;
        padding: 0 0 0 1px;
        cursor: pointer;

        & > svg {
            font-size: 0.6rem;
            margin-left: 5px;
            transition: all 0.2s ease;
        }

        &.active {
            & > svg {
                transform: rotate(90deg);
            }
        }
    }

    &__hours {
        color: $black;
        margin-left: 2px;
        padding: 2px 0 0 7px;
        border-left: 1px solid $lightGray;

        &__item {
            margin-top: 2px;
            font-size: 0.7rem;

            & > label {
                font-weight: 400;
                margin-right: 10px;
            }
        }
    }
}

// 検索画面時の調整
.m-store-list__item__container {
    .a-schedule {
        &__btn {
            font-size: 0.7rem;
            color: $darkGray;
            & > svg {
                font-size: 0.6rem;
            }
        }

        &__hours {
            &__item {
                color: $darkGray;
                margin-top: 2px;
                font-size: 0.7rem;
            }
        }
    }
}
