.a-search-sidebar-item {
    margin-bottom: $mp-xs;

    label {
        font-size: 1rem;
        font-weight: bolder;
        color: $font-color-brown;
        border-bottom: 2px solid $font-color-brown;
        padding: 0 2px;
    }

    ul {
        display: grid;
        margin-top: $mp-xxs;

        li {
            font-size: 0.9rem;
            height: 1.5rem;
            input {
                cursor: pointer;
            }
        }
    }
}

.p-search-input-mobile {
    .a-search-sidebar-item {
        margin-bottom: $mp-xs;

        label {
            font-size: 1.2rem;
            font-weight: bolder;
            color: $font-color-brown;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 3px 0 0 0;

            li {
                display: block;
                font-size: 1em;
                margin: 0 5px 5px 0;

                input {
                    cursor: pointer;
                }
            }
        }
    }
}
