.a-sort-selection {
    & > select {
        color: $darkGray;
        border-color: $darkGray;
        border-radius: 5px;
        font-size: 0.8rem;
        padding: 0 5px;
        outline: none;
        cursor: pointer;
    }
}
