.m-store-pickup {
    &__title {
        color: $font-color-brown;
        & > svg {
            margin-right: 6px;
            transform: rotate(45deg);
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
        row-gap: 1rem;
        margin-top: 5px;

        &__item {
            color: $black;
            font-size: 0.9rem;
            cursor: pointer;

            &:hover {
                color: $brown;
            }

            @include bp-600up {
                font-size: 1rem;
                font-weight: 550;
            }

            & > img {
                height: 100px;
                width: 100%;
                border-radius: $base-radius;
                object-fit: cover;

                @include bp-600up {
                    height: 130px;
                }

                @include bp-960up {
                    height: 150px;
                }
            }

            & > p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
    }
}

//トップページの場合
.p-top {
    .m-store-pickup {
        &__title {
            & > svg {
                display: none;
            }
        }

        @include bp-960up {
            margin-top: $mp-xs;
        }

        &__list {
            @include bp-600up {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}

.p-search {
    .m-store-pickup {
        order: 3;
        margin-top: $mp-sm;

        &__title {
            font-size: 1.1rem;
        }

        @include bp-600up {
            margin: 0;

            &__list {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}
