@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap);
@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #555555;
  background-color: #faf8f5;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

input {
  border: none;
  outline: 0;
}

button {
  outline: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 2.3rem;
  }
}

h2 {
  font-size: 1.2rem;
}

@media screen and (min-width: 960px) {
  h2 {
    font-size: 1.5rem;
  }
}

.a-logo {
  display: flex;
  height: 100%;
  margin-left: 2rem;
  align-items: center;
}

.a-logo > img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.3rem;
}

.a-logo > a {
  width: 100%;
  height: 100%;
  line-height: 64px;
  color: #f8fafc;
  font-size: 1rem;
  font-weight: 500;
}

.c-btn-menu-mobile {
  background-color: transparent;
  margin-right: 2rem;
  height: 50px;
  width: 50px;
  border: none;
  padding: 8px;
}

.c-btn-menu-mobile > a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.c-btn-menu-mobile > a > span {
  display: inline-block;
  background-color: #f8fafc;
  height: 2px;
  width: 100%;
  border-radius: 5px;
}

@media screen and (min-width: 960px) {
  .c-btn-menu-mobile {
    display: none;
  }
}

.a-btn-favorite {
  height: 2rem;
  width: 2rem;
  color: #e45e5e;
  background-color: #f8fafc;
  border: 2px solid #e45e5e;
  border-radius: 50%;
  font-size: 1rem;
  padding: auto;
  cursor: pointer;
  margin-right: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .a-btn-favorite {
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 2px 10px;
  }
}

.a-btn-favorite > span {
  font-weight: bolder;
}

.a-btn-favorite > span:nth-child(2) {
  display: none;
}

@media screen and (min-width: 960px) {
  .a-btn-favorite > span:nth-child(2) {
    display: inline;
    margin-left: 2px;
    font-size: 0.9rem;
  }
}

.a-btn-interested {
  height: 2rem;
  width: 2rem;
  color: #108b10;
  background-color: #f8fafc;
  border: 2px solid #108b10;
  border-radius: 50%;
  font-size: 1rem;
  padding: auto;
  cursor: pointer;
  margin-right: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .a-btn-interested {
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 2px 10px;
  }
}

.a-btn-interested > span {
  font-weight: bolder;
}

.a-btn-interested > span:nth-child(1) {
  display: inline-block;
}

.a-btn-interested > span:nth-child(2) {
  display: none;
}

@media screen and (min-width: 960px) {
  .a-btn-interested > span:nth-child(2) {
    display: inline;
    margin-left: 2px;
    font-size: 0.9rem;
  }
}

.a-btn-modificate {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.a-btn-modificate a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c4920;
  width: 130px;
  height: 2rem;
  border-radius: 20px;
}

@media screen and (min-width: 480px) {
  .a-btn-modificate a {
    width: 200px;
  }
}

.a-btn-modificate a:hover {
  background-color: #493020;
}

.a-btn-modificate a span {
  color: #f8fafc;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  .a-btn-modificate {
    display: none;
  }
}

.a-btn-modal-sns,
.a-btn-homepage > a {
  display: inline-block;
  width: 8.5rem;
  height: 25px;
  line-height: 25px;
  font-size: 0.7rem;
  background-color: #7c4920;
  text-align: center;
  vertical-align: center;
  border-radius: 2px;
  font-weight: 450;
  color: #f8fafc;
  cursor: pointer;
}

.a-btn-modal-sns:hover,
.a-btn-homepage > a:hover {
  background-color: #493020;
}

.a-btn-modal-sns {
  border: none;
}

.a-btn-search_icon a,
.a-btn-mypage a,
.a-btn-logIn a,
.a-btn-logout a {
  display: inline-block;
  color: white;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 960px) {
  .a-btn-search_icon,
  .a-btn-mypage,
  .a-btn-logIn,
  .a-btn-logout {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .l-navbar__content__nav--loggedin .a-btn-mypage {
    display: block;
  }
  .l-navbar__content__nav--loggedin .a-btn-mypage a {
    font-size: 1.6rem;
  }
}

.a-btn-edit-user {
  display: inline-block;
  width: 4.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
  background-color: #7c4920;
  text-align: center;
  border-radius: 2px;
  font-weight: 450;
  color: #f8fafc;
  cursor: pointer;
}

.a-btn-edit-user:hover {
  background-color: #493020;
}

.a-btn-modal-review {
  display: inline-block;
  width: 8.5rem;
  height: 25px;
  line-height: 25px;
  font-size: 0.7rem;
  background-color: #7c4920;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-weight: 450;
  color: #f8fafc;
  cursor: pointer;
}

.a-btn-modal-review:hover {
  background-color: #493020;
}

.a-btn-back {
  display: block;
  font-size: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: #67491b;
  font-weight: 500;
  border-radius: 50%;
}

.a-btn-back:hover {
  background-color: #fcebd2;
}

.a-score {
  width: 120px;
}

.a-score__container {
  display: flex;
}

.a-score__container > h2 {
  color: #555555;
}

.a-score__container__stars {
  position: relative;
  width: 80px;
  margin: 0.1rem 0 0 0.2rem;
}

@media screen and (min-width: 960px) {
  .a-score__container__stars {
    margin-top: 0.3rem;
  }
}

.a-score__container__stars__content {
  color: #c47d2c;
  overflow: hidden;
}

.a-score__container__stars__frame {
  position: absolute;
  top: 0;
  left: 0;
  color: #c47d2c;
}

.a-schedule > span {
  display: inline-block;
  position: relative;
  background-color: #7c4920;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.2rem;
}

.a-schedule > span > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.6rem;
  color: #f8fafc;
}

.a-search-sidebar-item {
  margin-bottom: 20px;
}

.a-search-sidebar-item label {
  font-size: 0.9rem;
  font-weight: bolder;
  color: #67491b;
}

.a-search-sidebar-item ul {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 0 0 0;
}

.a-search-sidebar-item ul li {
  display: block;
  font-size: 0.8rem;
  margin: 0 2px 1.5px 0;
}

.a-search-sidebar-item ul li input {
  cursor: pointer;
}

.p-search-input-mobile .a-search-sidebar-item {
  margin-bottom: 20px;
}

.p-search-input-mobile .a-search-sidebar-item label {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #67491b;
}

.p-search-input-mobile .a-search-sidebar-item ul {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 0 0 0;
}

.p-search-input-mobile .a-search-sidebar-item ul li {
  display: block;
  font-size: 1em;
  margin: 0 5px 5px 0;
}

.p-search-input-mobile .a-search-sidebar-item ul li input {
  cursor: pointer;
}

label.a-label-required::before {
  content: "必須";
  position: absolute;
  top: 3.5px;
  left: -2rem;
  background-color: #493020;
  color: white;
  font-size: 0.6rem;
  padding: 1px 3px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content .m-modal-sns__btn--close {
  display: flex;
  justify-content: flex-end;
}

.ReactModal__Content .m-modal-sns__btn--close > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ReactModal__Content .m-modal-sns__links__item {
  display: block;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #f8fafc;
  border-radius: 2px;
  margin: 8px 0;
  font-size: 0.9rem;
  font-weight: 350;
}

.ReactModal__Content .m-modal-sns__links__item.instagram {
  background-color: #cf015a;
}

.ReactModal__Content .m-modal-sns__links__item.facebook {
  background-color: #1877f2;
}

.ReactModal__Content .m-modal-sns__links__item.twitter {
  background-color: #1da1f2;
}

.ReactModal__Content .m-modal-sns__links__item.other {
  background-color: #adadad;
}

.ReactModal__Content .m-modal-review__btn--close {
  display: flex;
  justify-content: flex-end;
}

.ReactModal__Content .m-modal-review__btn--close > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ReactModal__Content .m-modal-review__form {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.ReactModal__Content .m-modal-review__form > label {
  margin-top: 10px;
  font-weight: 450;
}

.ReactModal__Content .m-modal-review__form > p {
  font-size: 0.7rem;
  color: #67491b;
}

.ReactModal__Content .m-modal-review__form > input {
  border-radius: 2px;
  margin-top: 2px;
}

.ReactModal__Content .m-modal-review__form > input[type="submit"] {
  margin-top: 10px;
  color: #f8fafc;
  background-color: #7c4920;
  font-weight: 450;
  letter-spacing: 2px;
}

.ReactModal__Content .m-modal-review__form > input[type="submit"]:hover {
  background-color: #493020;
}

.ReactModal__Content .m-modal-review__form > textarea {
  border-radius: 2px;
  height: 100px;
}

@media screen and (min-width: 600px) {
  .ReactModal__Content .m-modal-review__form > textarea {
    width: 15rem;
  }
}

.p-search__container .m-search-sidebar {
  display: none;
}

@media screen and (min-width: 600px) {
  .p-search__container .m-search-sidebar {
    display: block;
    background-color: #fcebd2;
    flex-basis: 24%;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  .p-search__container .m-search-sidebar__btn {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    background-color: #7c4920;
    color: #f8fafc;
    font-size: 0.9rem;
    border-radius: 25px;
    border: none;
    text-align: center;
    cursor: pointer;
  }
  .p-search__container .m-search-sidebar__btn:hover {
    background-color: #493020;
  }
}

@media screen and (min-width: 960px) {
  .p-search__container .m-search-sidebar {
    flex-basis: 20%;
  }
}

.p-search-input-mobile .m-search-sidebar {
  margin: 0;
  padding: 10px;
}

.p-search-input-mobile .m-search-sidebar__btn {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  background-color: #7c4920;
  color: #f8fafc;
  font-size: 0.9rem;
  border-radius: 25px;
  border: none;
  text-align: center;
  cursor: pointer;
}

.p-search-input-mobile .m-search-sidebar__btn:hover {
  background-color: #493020;
}

.a-bar-search {
  width: 100%;
  background-color: #f8fafc;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.a-bar-search input[type="text"] {
  width: 75%;
  height: 100%;
  padding: 0 5px;
}

.a-bar-search a {
  display: flex;
  width: 25%;
  height: 100%;
  background-color: #c47d2c;
  color: #f8fafc;
  border-radius: 5px;
  letter-spacing: 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.a-bar-search a:hover {
  background-color: #7c4920;
}

.p-top__hero__content .a-bar-search {
  height: 2.3rem;
  margin-top: 15px;
  border: 1.5px solid #f8fafc;
}

.l-navbar__content .a-bar-search {
  height: 36px;
  border: 2px solid #f8fafc;
  box-sizing: unset;
  font-size: 0.8rem;
}

.l-navbar__content .a-bar-search input[type="text"] {
  width: 250px;
}

.l-navbar__content .a-bar-search a {
  width: 100px;
  height: 36px;
}

.m-search-sidebar .a-bar-search {
  height: 28px;
  font-size: 0.8rem;
  margin: 10px 0 20px 0;
}

.m-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 8px;
}

.m-menu__card {
  background-color: #f8fafc;
  border-radius: 2px;
  padding: 5px;
}

.m-menu__card h4 {
  font-size: 0.9rem;
  font-weight: 450;
}

.m-menu__card p {
  font-size: 0.7rem;
  color: #67491b;
}

.m-spirit__container {
  background-color: #f8fafc;
  padding: 10px;
}

.m-spirit__container__section {
  margin: 10px 0;
}

.m-spirit__container__section p {
  color: #67491b;
}

.m-spirit__container__section__content {
  display: flex;
}

.m-store-contents {
  width: 100%;
  margin-top: 10px;
}

.m-store-contents__tab {
  display: flex;
  position: relative;
  border: 1px solid #fcebd2;
  border-bottom: 0;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .m-store-contents__tab {
    height: 42px;
  }
}

.m-store-contents__tab > input {
  font-size: 0.7rem;
  width: calc(100% / 3);
  text-align: center;
  color: #c47d2c;
  cursor: pointer;
}

.m-store-contents__tab > input:nth-child(2) {
  border-left: solid 0.3px #fcebd2;
  border-right: solid 0.3px #fcebd2;
  box-sizing: border-box;
}

.m-store-contents__tab > input.selected {
  background-color: #fcebd2;
  color: #c47d2c;
  font-weight: 550;
}

@media screen and (min-width: 600px) {
  .m-store-contents__tab > input {
    font-size: 0.8rem;
  }
}

.m-store-contents__container {
  background-color: #fcebd2;
  padding: 10px;
  margin-bottom: 80px;
}

.m-store-contents__container__table {
  min-height: 6rem;
}

@media screen and (min-width: 960px) {
  .m-store-pickup {
    margin-top: 20px;
  }
}

.m-store-pickup h4 {
  color: #67491b;
}

.m-store-pickup__list {
  background-color: #fcebd2;
  border-radius: 5px;
}

.m-store-pickup__list__item {
  cursor: pointer;
}

.m-store-pickup__list__item > p {
  font-size: 0.8rem;
}

.m-store-list {
  display: flex;
  flex-direction: column;
}

.m-store-list__item {
  width: 100%;
  background-color: #f8fafc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .m-store-list__item {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}

.m-store-list__item:hover h2.hover-colorChange {
  color: #c47d2c;
}

.m-store-list__item--pc {
  display: none;
}

@media screen and (min-width: 960px) {
  .m-store-list__item--pc {
    display: block;
  }
  .m-store-list__item--pc__main {
    width: 180px;
  }
  .m-store-list__item--pc__sub {
    width: 60px;
  }
}

.m-store-list__item--mobile__main {
  width: 100%;
}

@media screen and (min-width: 960px) {
  .m-store-list__item--mobile {
    display: none;
  }
}

.m-store-list__item__container {
  width: 100%;
}

.m-store-list__item__container__buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.m-store-list__item__container__name {
  color: #555555;
}

.m-store-list__item__container__access {
  font-size: 0.7rem;
  color: #555555;
}

.m-store-list__item__container__explanation {
  color: #c47d2c;
  font-size: 0.8rem;
  margin-top: 8px;
}

.m-store-basicInfo__btn {
  display: flex;
  justify-content: flex-end;
}

.m-store-basicInfo__name {
  font-size: 2rem;
}

.m-store-basicInfo__address {
  font-size: 0.8rem;
}

.m-store-basicInfo__message {
  font-size: 1rem;
  color: #67491b;
}

.m-store-subInfo {
  max-width: 12rem;
}

@media screen and (min-width: 600px) {
  .m-store-subInfo {
    height: 300px;
  }
}

.m-store-subInfo__container__item {
  margin-bottom: 0.5rem;
}

.m-store-subInfo__container__item label {
  display: inline-block;
  color: #67491b;
  font-weight: bolder;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.m-store-subInfo__container__item p {
  color: #67491b;
  font-size: 0.8rem;
}

.m-store-subInfo__container__item__btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}

.m-store-subInfo__container__item__btns a {
  margin-right: 0.5rem;
}

@media screen and (min-width: 600px) {
  .m-store-subInfo__container__item__btns {
    flex-direction: column;
  }
  .m-store-subInfo__container__item__btns a {
    margin-right: auto;
  }
}

.m-store-subInfo {
  display: none;
}

@media screen and (min-width: 600px) {
  .m-store-subInfo {
    display: block;
    border: 1px solid #c47d2c;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
  }
  .m-store-subInfo__container__item__btns {
    display: flex;
    flex-direction: column;
    height: 30px;
  }
  .m-store-subInfo__container__item__btns a {
    margin-right: auto;
    margin-bottom: 2px;
  }
}

.m-store-basicInfo .m-store-subInfo {
  display: block;
}

@media screen and (min-width: 600px) {
  .m-store-basicInfo .m-store-subInfo {
    display: none;
  }
}

.p-review .m-store-subInfo {
  display: none;
}

.m-userTable-favorite {
  display: flex;
  flex-direction: column;
}

.m-userTable-favorite > .m-store-summary {
  display: grid;
}

.m-user-table__tab {
  display: flex;
  position: relative;
  border: 1px solid #c47d2c;
  border-bottom: 0;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .m-user-table__tab {
    height: 42px;
  }
}

.m-user-table__tab::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #c47d2c;
}

.m-user-table__tab > input {
  font-size: 0.7rem;
  width: calc(100% / 3);
  text-align: center;
  color: #c47d2c;
  cursor: pointer;
}

.m-user-table__tab > input:nth-child(2), .m-user-table__tab > input:nth-child(3), .m-user-table__tab > input:nth-child(4) {
  border-left: solid 0.3px #c47d2c;
  box-sizing: border-box;
}

.m-user-table__tab > input.selected {
  background-color: #c47d2c;
  color: #f8fafc;
  font-weight: 550;
}

@media screen and (min-width: 600px) {
  .m-user-table__tab > input {
    font-size: 0.8rem;
  }
}

.m-user-table__container {
  background-color: #fcebd2;
  padding: 20px;
}

.m-user-prof {
  background-color: #faf8f5;
  border-radius: 2px;
  margin-bottom: 20px;
}

@media screen and (min-width: 960px) {
  .m-user-prof {
    margin: 0;
  }
}

.m-user-prof__container {
  margin: 10px;
}

.m-user-prof__container__btn {
  display: flex;
  justify-content: flex-end;
}

.m-review-list__item {
  background-color: white;
  padding: 10px;
}

.m-storeEdit-menu-create {
  background-color: #f8fafc;
  padding: 10px 40px;
  border-radius: 2px;
}

.m-storeEdit-menu-create__container__form {
  font-size: 0.9rem;
}

.m-storeEdit-menu-create__container__form__item {
  display: grid;
  margin-top: 10px;
}

@media screen and (min-width: 960px) {
  .m-storeEdit-menu-create__container__form__item {
    grid-template-columns: 10rem 1fr;
  }
}

.m-storeEdit-menu-create__container__form__item input,
.m-storeEdit-menu-create__container__form__item textarea,
.m-storeEdit-menu-create__container__form__item select {
  border: 0.1px solid #67491b;
  border-radius: 2px;
}

.m-storeEdit-menu-create__container__form__item label {
  position: relative;
  font-weight: 450;
}

.m-storeEdit-menu-create__container__form__item input {
  width: 100%;
  max-width: 20rem;
}

.m-storeEdit-menu-create__container__form__item input[type="number"] {
  max-width: 4rem;
  margin-right: 2px;
}

.m-storeEdit-menu-create__container__form__item input[type="file"] {
  border: none;
  font-size: 0.7rem;
}

.m-storeEdit-menu-create__container__form__item select {
  width: 100%;
  max-width: 10rem;
}

.m-storeEdit-menu-create__container__form__item > p {
  color: #c92222;
  font-size: 0.8rem;
}

.m-storeEdit-menu-create__container__form__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.m-storeEdit-menu-create__container__form__btn > input[type="submit"] {
  height: 1.8rem;
  color: #f8fafc;
  background-color: #7c4920;
  border: 2px solid transparent;
  font-size: 0.9rem;
  border-radius: 1rem;
  padding: 2px 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.m-storeEdit-menu-create__container__form__btn > input[type="submit"]:hover {
  background-color: #493020;
  color: #f8fafc;
}

.m-storeEdit-menu-list {
  margin-top: 20px;
}

.m-storeEdit-menu-list__item {
  background-color: #f8fafc;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

@media screen and (min-width: 600px) {
  .m-storeEdit-menu-list__item {
    padding: 10px 40px;
  }
}

.m-storeEdit-menu-list__item__btn {
  display: flex;
  justify-content: flex-end;
}

.m-storeEdit-menu-list__item__content {
  display: grid;
}

@media screen and (min-width: 600px) {
  .m-storeEdit-menu-list__item__content {
    grid-template-columns: 100px 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.m-storeEdit-menu-list__item__content__text > a {
  margin-left: 0.5rem;
  color: #f8fafc;
  background-color: #c47d2c;
  font-size: 0.7rem;
  border-radius: 2px;
  padding: 2px 0.5rem;
}

.m-storeEdit-menu-list__item__content__text > p,
.m-storeEdit-menu-list__item__content__text > span {
  color: #67491b;
  font-size: 0.8rem;
}

.m-store-edit-spirit {
  background-color: #f8fafc;
  padding: 10px 20px;
}

@media screen and (min-width: 600px) {
  .m-store-edit-spirit {
    padding: 20px 40px;
  }
}

.m-store-edit-spirit__container {
  display: grid;
  row-gap: 20px;
}

.m-store-edit-spirit__container__section__title {
  display: flex;
  justify-content: space-between;
}

.m-store-edit-spirit__container__section__title > h2 {
  font-size: 1.3rem;
}

.m-store-edit-spirit__container__section__content {
  display: grid;
}

@media screen and (min-width: 600px) {
  .m-store-edit-spirit__container__section__content {
    grid-template-columns: 25% 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.m-store-edit-spirit__container__section__content > p {
  color: #67491b;
  font-size: 0.8rem;
}

.m-storeEdit-basic {
  background-color: #f8fafc;
  padding: 20px 20px;
}

@media screen and (min-width: 600px) {
  .m-storeEdit-basic {
    padding: 20px 80px;
  }
}

.m-storeEdit-basic__container__form {
  font-size: 0.8rem;
  width: 80%;
  margin: 0 auto;
}

.m-storeEdit-basic__container__form > label {
  position: relative;
  display: block;
  font-weight: 450;
  margin-top: 20px;
  font-size: 1rem;
}

.m-storeEdit-basic__container__form > span {
  font-size: 0.7rem;
  line-height: 0.7rem;
  color: #67491b;
}

.m-storeEdit-basic__container__form > p {
  color: #c92222;
}

.m-storeEdit-basic__container__form input,
.m-storeEdit-basic__container__form textarea {
  width: 100%;
  border: 0.1px solid #67491b;
  border-radius: 2px;
}

.m-storeEdit-basic__container__form input {
  max-width: 15rem;
}

.m-storeEdit-basic__container__form__sns__item {
  display: grid;
  grid-template-columns: 5rem 1fr;
  margin-bottom: 2px;
}

.m-storeEdit-basic__container__form__btn {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .m-storeEdit-basic__container__form__btn {
    justify-content: flex-end;
  }
}

.m-storeEdit-basic__container__form__btn > input {
  height: 1.8rem;
  color: #f8fafc;
  background-color: #7c4920;
  border: 2px solid transparent;
  font-size: 0.9rem;
  border-radius: 1rem;
  padding: 2px 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.m-storeEdit-basic__container__form__btn > input:hover {
  background-color: #493020;
  color: #f8fafc;
}

.m-storeEdit-basic__container__form__links {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.m-storeEdit-basic__container__form__links a {
  font-size: 0.8rem;
  color: #c47d2c;
}

.m-store-edit-table__tab {
  display: flex;
  position: relative;
  border: 1px solid #c47d2c;
  border-bottom: 0;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .m-store-edit-table__tab {
    height: 42px;
  }
}

.m-store-edit-table__tab::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #c47d2c;
}

.m-store-edit-table__tab > input {
  font-size: 0.7rem;
  width: calc(100% / 3);
  text-align: center;
  color: #c47d2c;
  cursor: pointer;
}

.m-store-edit-table__tab > input:nth-child(2), .m-store-edit-table__tab > input:nth-child(3), .m-store-edit-table__tab > input:nth-child(4) {
  border-left: solid 0.3px #c47d2c;
  box-sizing: border-box;
}

.m-store-edit-table__tab > input.selected {
  background-color: #c47d2c;
  color: #f8fafc;
  font-weight: 550;
}

@media screen and (min-width: 600px) {
  .m-store-edit-table__tab > input {
    font-size: 0.8rem;
  }
}

.m-store-edit-table__container {
  background-color: #fcebd2;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .m-store-edit-table__container {
    padding: 10px 40px;
  }
}

.l-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c47d2c;
  height: 64px;
  z-index: 900;
}

.l-navbar__content {
  display: none;
}

@media screen and (min-width: 960px) {
  .l-navbar__content {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    letter-spacing: 1px;
  }
  .l-navbar__content__nav--loggedout ul {
    display: flex;
  }
  .l-navbar__content__nav--loggedout ul li {
    height: 40px;
    width: 100px;
    margin-left: 1rem;
    line-height: 36px;
    text-align: center;
    font-size: 0.8rem;
    color: #f8fafc;
    border: 2px solid #f8fafc;
    border-radius: 5px;
  }
  .l-navbar__content__nav--loggedout ul li:hover {
    background-color: #7c4920;
  }
}

.l-navbar__mobile {
  display: flex;
}

@media screen and (min-width: 960px) {
  .l-navbar__mobile {
    display: none;
  }
}

.p-register-store {
  background-color: #faf8f5;
}

.p-register-store__container {
  margin: 0 auto;
  width: 90%;
  margin-top: 40px;
  padding: 40px;
  border-radius: 2px;
  color: #67491b;
}

@media screen and (min-width: 480px) {
  .p-register-store__container {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-register-store__container {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-register-store__container {
    width: 80%;
  }
}

.p-register-store__container__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.p-register-store__container__form__item {
  display: grid;
  grid-template-columns: 10rem 1fr;
  height: 4rem;
  border-bottom: 0.3px solid #c7c7c7;
  box-sizing: border-box;
}

.p-register-store__container__form__item > label {
  display: inline;
  position: relative;
  line-height: 4rem;
  height: 4rem;
  font-size: 0.8rem;
  font-weight: 450;
  padding-left: 1rem;
  background-color: rgba(252, 222, 184, 0.3);
}

.p-register-store__container__form__item__input {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 4rem;
  padding-left: 1.5rem;
}

.p-register-store__container__form__item__input input {
  border-radius: 2px;
  height: 1.8rem;
  padding: 0 5px;
  border: 0.5px solid #c7c7c7;
  width: 100%;
}

.p-register-store__container__form__item__input input[type="submit"] {
  background-color: #7c4920;
  color: #f8fafc;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.p-register-store__container__form__item__input input[type="submit"]:hover {
  background-color: #493020;
}

.p-register-store__container__form__item p {
  color: #c92222;
  font-size: 0.7rem;
}

.p-register-store__container__form__item span {
  color: #9aa0a6;
  font-size: 0.7rem;
}

.p-register-store__container__form__week {
  display: grid;
}

.p-register-store__container__form__week__day {
  display: grid;
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

@media screen and (min-width: 600px) {
  .p-register-store__container__form__week__day {
    grid-template-columns: 6rem 1fr;
  }
}

.p-register-store__container__form__week__day__heading > label {
  vertical-align: middle;
}

.p-register-store__container__form__week__day__heading__btn {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  width: 28px;
  height: 12px;
  background-color: #c7c7c7;
  margin-left: 1rem;
}

.p-register-store__container__form__week__day__heading__btn > span {
  position: absolute;
  display: block;
  top: -3px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #f8fafc;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.p-register-store__container__form__week__day__heading__btn.active {
  background-color: #c47d2c;
}

.p-register-store__container__form__week__day__heading__btn.active > span {
  transform: translateX(0.9rem);
}

.p-register-store__container__form__week__day__hours {
  display: none;
}

.p-register-store__container__form__week__day__hours.active {
  display: block;
  margin-top: 3px;
}

@media screen and (min-width: 600px) {
  .p-register-store__container__form__week__day__hours.active {
    margin: 0;
  }
}

.p-register-store__container__form__week__day__hours.active > input {
  border: 0.5px solid #c7c7c7;
  padding: 1px 2px;
  border-radius: 2px;
}

.p-register-store__container__links {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.p-register-store__container__links > span {
  display: block;
  color: #67491b;
  font-size: 0.8rem;
  margin: 3px 0;
}

.p-register-store__container__links > span > a {
  color: #67491b;
  font-weight: 800;
}

.p-register-user,
.p-login-store,
.p-login-user,
.p-password-reset-store,
.p-password-reset-user {
  background-color: white;
}

.p-register-user__container,
.p-login-store__container,
.p-login-user__container,
.p-password-reset-store__container,
.p-password-reset-user__container {
  width: 50%;
  min-width: 280px;
  max-width: 450px;
  margin: 120px auto;
  padding: 40px;
  border-radius: 2px;
  color: #67491b;
}

@media screen and (min-width: 600px) {
  .p-register-user__container,
  .p-login-store__container,
  .p-login-user__container,
  .p-password-reset-store__container,
  .p-password-reset-user__container {
    box-shadow: 0px 0pt 10px;
    padding: 40px 80px;
  }
}

.p-register-user__container__form,
.p-login-store__container__form,
.p-login-user__container__form,
.p-password-reset-store__container__form,
.p-password-reset-user__container__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.p-register-user__container__form > h2,
.p-login-store__container__form > h2,
.p-login-user__container__form > h2,
.p-password-reset-store__container__form > h2,
.p-password-reset-user__container__form > h2 {
  text-align: center;
}

.p-register-user__container__form > label,
.p-login-store__container__form > label,
.p-login-user__container__form > label,
.p-password-reset-store__container__form > label,
.p-password-reset-user__container__form > label {
  position: relative;
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 550;
}

.p-register-user__container__form > input,
.p-login-store__container__form > input,
.p-login-user__container__form > input,
.p-password-reset-store__container__form > input,
.p-password-reset-user__container__form > input {
  border-radius: 2px;
  height: 1.8rem;
  padding: 0 5px;
  border: 0.5px solid #67491b;
  width: 100%;
}

.p-register-user__container__form > input[type="submit"],
.p-login-store__container__form > input[type="submit"],
.p-login-user__container__form > input[type="submit"],
.p-password-reset-store__container__form > input[type="submit"],
.p-password-reset-user__container__form > input[type="submit"] {
  background-color: #7c4920;
  color: #f8fafc;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.p-register-user__container__form > input[type="submit"]:hover,
.p-login-store__container__form > input[type="submit"]:hover,
.p-login-user__container__form > input[type="submit"]:hover,
.p-password-reset-store__container__form > input[type="submit"]:hover,
.p-password-reset-user__container__form > input[type="submit"]:hover {
  background-color: #493020;
}

.p-register-user__container__form > p,
.p-login-store__container__form > p,
.p-login-user__container__form > p,
.p-password-reset-store__container__form > p,
.p-password-reset-user__container__form > p {
  color: #c92222;
  font-size: 0.7rem;
}

.p-register-user__container__form > span,
.p-login-store__container__form > span,
.p-login-user__container__form > span,
.p-password-reset-store__container__form > span,
.p-password-reset-user__container__form > span {
  font-size: 0.7rem;
}

.p-register-user__container__form__week,
.p-login-store__container__form__week,
.p-login-user__container__form__week,
.p-password-reset-store__container__form__week,
.p-password-reset-user__container__form__week {
  display: flex;
  flex-wrap: wrap;
}

.p-register-user__container__form__week__day,
.p-login-store__container__form__week__day,
.p-login-user__container__form__week__day,
.p-password-reset-store__container__form__week__day,
.p-password-reset-user__container__form__week__day {
  display: flex;
  height: 2rem;
  margin-right: 1rem;
}

.p-register-user__container__form__week__day > input,
.p-login-store__container__form__week__day > input,
.p-login-user__container__form__week__day > input,
.p-password-reset-store__container__form__week__day > input,
.p-password-reset-user__container__form__week__day > input {
  height: 1rem;
  width: 1rem;
  line-height: 2rem;
}

.p-register-user__container__links,
.p-login-store__container__links,
.p-login-user__container__links,
.p-password-reset-store__container__links,
.p-password-reset-user__container__links {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.p-register-user__container__links > span,
.p-login-store__container__links > span,
.p-login-user__container__links > span,
.p-password-reset-store__container__links > span,
.p-password-reset-user__container__links > span {
  display: block;
  color: #67491b;
  font-size: 0.8rem;
  margin: 3px 0;
}

.p-register-user__container__links > span > a,
.p-login-store__container__links > span > a,
.p-login-user__container__links > span > a,
.p-password-reset-store__container__links > span > a,
.p-password-reset-user__container__links > span > a {
  color: #67491b;
  font-weight: 800;
}

.p-top__hero {
  padding-top: 64px;
  background-image: url(/images/croissant.jpg?d285ba1c470395ec7f04064426490bfd);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 65%;
}

.p-top__hero__content {
  margin: 0 auto;
  width: 90%;
  padding: 40px 0;
}

@media screen and (min-width: 480px) {
  .p-top__hero__content {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-top__hero__content {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-top__hero__content {
    width: 80%;
  }
}

.p-top__hero__content h1 {
  color: #f8fafc;
}

@media screen and (min-width: 960px) {
  .p-top__hero__content h1 {
    margin-top: 15px;
  }
}

.p-top__content {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 40px;
}

@media screen and (min-width: 480px) {
  .p-top__content {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-top__content {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-top__content {
    width: 80%;
  }
}

.p-top__content h2 {
  color: #67491b;
  margin-top: 20px;
}

@media screen and (min-width: 960px) {
  .p-top__content h2 {
    margin-top: 40px;
  }
}

.p-top__content ul {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 5px;
}

.p-top__content ul li {
  display: inline-block;
  border: 2.2px solid #c47d2c;
  border-radius: 4px;
  margin: 3px 2px;
  height: 2.5rem;
  width: 7.5rem;
}

@media screen and (min-width: 600px) {
  .p-top__content ul li {
    margin: 3px 5px;
  }
}

.p-top__content ul li input {
  display: block;
  height: 100%;
  width: 100%;
  color: #c47d2c;
  padding: 0 10px;
  line-height: 2.2rem;
  background-color: transparent;
  text-align: center;
  font-weight: 520;
  font-size: 0.8rem;
  cursor: pointer;
}

.p-top__content ul li:hover {
  background-color: #c47d2c;
}

.p-top__content ul li:hover input {
  color: #f8fafc;
}

.p-top__footer {
  display: flex;
  background-color: #fcebd2;
  padding: 20px 0;
}

.p-top__footer a {
  margin: 0 auto;
  width: 90%;
  color: #67491b;
  font-size: 0.8rem;
}

@media screen and (min-width: 480px) {
  .p-top__footer a {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-top__footer a {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-top__footer a {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .p-top__footer a {
    text-align: center;
  }
}

.p-top__footer a:hover {
  font-weight: 600;
}

.p-search {
  margin: 0 auto;
  width: 90%;
  padding-top: 64px;
}

@media screen and (min-width: 480px) {
  .p-search {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-search {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-search {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .p-search__container {
    display: flex;
  }
}

@media screen and (min-width: 600px) {
  .p-search__container__content {
    flex-basis: 75%;
  }
}

.p-search__container__content__list {
  background-color: #fcebd2;
  border-radius: 5px;
  padding: 20px;
}

.p-search__container__content__list__order--mobile {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 600px) {
  .p-search__container__content__list__order--mobile {
    display: none;
  }
}

.p-search__container__content__list__order--mobile > select {
  color: #67491b;
  border-color: #67491b;
  border-radius: 5px;
  font-size: 0.8rem;
  outline: none;
}

.p-search__container__content__list__order--pc {
  display: none;
}

@media screen and (min-width: 600px) {
  .p-search__container__content__list__order--pc {
    display: flex;
    justify-content: flex-end;
  }
}

.p-search__container__content__list__order--pc > a {
  color: #c47d2c;
  margin: 0 0 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.p-search-input-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcebd2;
  padding: 120px 20px 20px 20px;
}

.p-search-input-mobile__back {
  display: inline-block;
  margin-left: 10px;
  color: #67491b;
  font-size: 0.8rem;
  font-weight: bolder;
  border-bottom: #67491b 1px solid;
}

.p-store {
  padding-top: 64px;
}

.p-store__container {
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 480px) {
  .p-store__container {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-store__container {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-store__container {
    width: 80%;
  }
}

.p-store__container__content {
  margin-top: 10px;
}

@media screen and (min-width: 600px) {
  .p-store__container__content {
    display: grid;
    grid-template-columns: 1fr 160px;
    grid-gap: 5px;
  }
}

.p-user__container {
  margin: 0 auto;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 480px) {
  .p-user__container {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-user__container {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-user__container {
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .p-user__container {
    display: grid;
    grid-template-columns: 1fr 200px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.p-review {
  padding: 80px 0;
}

.p-review__container {
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 480px) {
  .p-review__container {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-review__container {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-review__container {
    width: 80%;
  }
}

.p-review__container__table {
  background-color: #fcebd2;
  padding: 20px;
  margin-top: 20px;
}

.p-review__container > aside {
  display: none;
}

@media screen and (min-width: 600px) {
  .p-review__container {
    display: grid;
    grid-template-columns: 1fr 25%;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .p-review__container > aside {
    display: block;
    background-color: #fcebd2;
    border-radius: 2px;
    padding: 10px;
  }
}

.p-store-edit {
  padding: 80px 0;
}

.p-store-edit__container {
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 480px) {
  .p-store-edit__container {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-store-edit__container {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-store-edit__container {
    width: 80%;
  }
}

.p-store-edit__container__btn {
  margin-bottom: 3px;
}

.p-userEdit {
  padding-top: 80px;
}

.p-userEdit__container {
  margin: 0 auto;
  width: 90%;
  margin: 0 auto;
  color: #67491b;
}

@media screen and (min-width: 480px) {
  .p-userEdit__container {
    width: 85%;
  }
}

@media screen and (min-width: 600px) {
  .p-userEdit__container {
    width: 85%;
    max-width: 1000px;
  }
}

@media screen and (min-width: 960px) {
  .p-userEdit__container {
    width: 80%;
  }
}

.p-userEdit__container__form {
  display: grid;
  width: 50%;
  margin: 0 auto;
  min-width: 230px;
  max-width: 450px;
}

@media screen and (min-width: 600px) {
  .p-userEdit__container__form {
    width: 80%;
    margin: 0 auto;
  }
}

.p-userEdit__container__form > h2 {
  text-align: center;
}

.p-userEdit__container__form > label {
  position: relative;
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 550;
}

.p-userEdit__container__form > input {
  border-radius: 2px;
  height: 1.8rem;
  padding: 0 5px;
  border: 0.5px solid #67491b;
  width: 100%;
}

.p-userEdit__container__form > input[type="submit"] {
  background-color: #7c4920;
  color: #f8fafc;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-top: 40px;
  cursor: pointer;
}

.p-userEdit__container__form > input[type="submit"]:hover {
  background-color: #493020;
}

.p-userEdit__container__form__links {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.p-userEdit__container__form__links a {
  display: block;
  color: #67491b;
  font-size: 0.8rem;
  margin: 3px 0;
}

