.m-modalEditSpirit {
    width: 100%;

    @include bp-960up {
        width: fit-content;
    }

    &__btn--edit {
        @include bg_GradationBrown;
        color: $white;
        border: none;
        border-radius: $sm-radius;
        font-weight: 500;
        font-size: 0.9rem;
        width: 100%;
        max-width: 510px;
        height: 2rem;
        margin-top: $mp-xxs;
        cursor: pointer;

        @include bp-600up {
            display: block;
            width: 18rem;
            margin: 0 auto;
        }

        @include bp-960up {
            width: 7.5rem;
        }

        &:hover {
            opacity: 0.9;
        }

        & > svg {
            margin-right: 5px;
        }
    }

    &__btn--close {
        display: flex;
        justify-content: flex-end;

        & > button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    &__form {
        display: grid;
        row-gap: 1rem;

        &__item {
            display: grid;

            & > label {
                font-weight: 550;
                color: $font-color-brown;
                width: fit-content;
            }

            & > span {
                font-size: 0.8rem;
                color: $textGray;
                margin-bottom: 3px;
            }

            & > input[type="file"] {
                font-size: 0.8rem;
            }

            & > textarea {
                border: 0.3px solid $textGray;
                border-radius: $sm-radius;
                padding: 2px 3px;
                height: 20rem;

                &:focus {
                    @include focusShadow;
                }

                @include bp-600up {
                    width: 32rem;
                    height: 12rem;
                }

                @include bp-960up {
                    width: 40rem;
                }
            }

            & > p {
                font-size: 0.7rem;
                color: $color-error;
            }
        }

        &__btn {
            display: flex;
            justify-content: center;

            @include bp-960up {
                justify-content: flex-end;
            }
        }
    }
}
