.sidebar-btns {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
}

.m-search-sidebar {
    &__btn {
        &--search {
            @extend .sidebar-btns;
            background-color: $darkBrown;
            color: $white;

            &:hover {
                background-color: $darkestBrown;
            }
        }

        &--reset {
            @extend .sidebar-btns;
            background-color: $lightestGray;
            color: $black;
            margin-top: 5px;

            &:hover {
                background-color: $lightGray;
            }
        }
    }

    &__item {
        margin-bottom: $mp-xs;

        & > h4 {
            font-size: 1rem;
            font-weight: bolder;
            color: $font-color-brown;

            & > svg {
                margin-right: 4px;
                font-size: 1.05rem;
            }
        }

        & > ul {
            display: grid;
            margin-top: $mp-xxs;
        }

        & > input[type="text"] {
            width: 100%;
            height: 2rem;
            line-height: 2rem;
            margin-top: $mp-xxs;
            border-radius: 25px;

            &:focus {
                @include focusShadow;
            }
        }
    }
}

.p-search {
    //モバイル検索ページの調整
    &__mobile {
        .m-search-sidebar {
            margin: 0;
            padding: $mp-xxs;

            &__btn {
                margin: $mp-xxs 0;
                font-size: 1rem;
                height: 2rem;
            }

            &__item {
                margin-bottom: 30px;
                ul {
                    grid-template-columns: 1fr 1fr;
                    row-gap: 8px;
                    column-gap: 15px;

                    li {
                        display: block;
                        font-size: 1rem;

                        input {
                            display: none;

                            & + label {
                                position: relative;
                                display: inline-block;
                                background-color: $white;
                                width: 100%;
                                height: 2rem;
                                line-height: 2rem;
                                color: $darkGray;
                                border: 1px solid $darkGray;
                                border-radius: 25px;
                                text-align: center;
                                cursor: pointer;
                            }

                            &:checked + label {
                                color: $darkBrown;
                                background-color: $lightBrown;
                                border-color: $darkBrown;
                            }
                        }
                    }
                }

                & > input[type="text"] {
                    border: 1px solid $gray;
                    font-size: 0.9rem;
                    padding-left: 12px;
                }
            }
        }
    }

    //PC検索画面の調整
    &__container {
        .m-search-sidebar {
            display: none;

            @include bp-600up {
                display: block;
                flex-basis: 24%;
                margin-right: $mp-xxs;
                padding: 0 $mp-xxs;
                border-radius: $base-radius;

                &__btn {
                    margin-bottom: $mp-xxs;
                    font-size: 0.9rem;
                }

                @include bp-960up {
                    flex-basis: 20%;
                }

                &__item {
                    & > h4 {
                        border-bottom: 2px solid $font-color-brown;
                        padding: 0 2px;

                        & > svg {
                            display: none;
                        }
                    }

                    & > ul {
                        & > li {
                            font-size: 0.9rem;
                            height: 1.5rem;
                            input,
                            label {
                                cursor: pointer;
                            }
                        }
                    }

                    & > input[type="text"] {
                        border: 1px solid $textGray;
                        padding-left: 10px;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}
