.m-store-ranking {
    @include bp-960up {
        margin-top: $mp-xs;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
        row-gap: 1rem;
        margin-top: 5px;

        @include bp-600up {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &__item {
            cursor: pointer;
            color: $black;
            font-size: 0.9rem;

            &:hover {
                color: $brown;
            }

            @include bp-600up {
                font-weight: 550;
                font-size: 1rem;
            }

            & > img {
                height: 100px;
                width: 100%;
                border-radius: $base-radius;
                object-fit: cover;

                @include bp-600up {
                    height: 130px;
                }

                @include bp-960up {
                    height: 150px;
                }
            }

            & > p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
    }
}
