.a-score {
    &__container {
        display: flex;
        align-items: center;

        &__result {
            display: flex;
            align-items: center;

            &__stars {
                position: relative;
                width: 110px;

                & span {
                    font-size: 23px;
                    letter-spacing: -2px;
                }

                &__content {
                    color: $brown;
                    overflow: hidden;
                }

                &__frame {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: $brown;
                }
            }

            & > h3 {
                color: $black;
                vertical-align: center;
            }
        }

        &__comment {
            color: $lightGray;
            margin-left: 10px;
            font-size: 0.8rem;

            & > a {
                margin-left: 2px;
                color: $darkGray;
                font-weight: 600;
                text-decoration: underline $darkGray;

                &:hover {
                    color: $brown;
                }
            }
        }
    }
}

//店舗ページにおける調整
.p-store {
    .a-score {
        margin: 0 auto;

        &__container {
            display: flex;
            align-items: center;

            @include bp-960up {
                flex-direction: center;
                flex-wrap: wrap;
            }

            &__result {
                display: flex;
                align-items: center;
            }

            &__comment {
                display: flex;
                align-items: center;
                color: $lightGray;

                @include bp-960up {
                    margin-left: 0;
                }
            }
        }
    }
}

.m-store-basicInfo__container {
    .a-score {
        display: none;
    }
}

.p-review {
    .m-store-basicInfo__container {
        .a-score {
            display: block;
        }
    }
}
